@if (_todo && !editMode) {
<app-checkbox class="todo-card" [value]="_todo.completed" [label]="_todo.title" (valueChange)="handleValueChange($event, _todo)"></app-checkbox>

<button matIconButton class="todo-card__action _edit" (click)="edit(_todo)">
  <mat-icon>edit</mat-icon>
</button>
<button matIconButton class="todo-card__action _deleted" (click)="delete(_todo)">
  <mat-icon>deleted</mat-icon>
</button> } @else if (_todo && editMode) {
<div class="todo-card__container">
    <form class="todo-card__form" [formGroup]="updateForm" (ngSubmit)="updateTodo(_todo)">
        <mat-form-field class="todo-card__input" appearance="outline">
            <mat-label>Update todo</mat-label>
            <input matInput formControlName="title" /> @if ( updateForm.get('title')?.hasError('required') && updateForm.get('title')?.touched) {

            <mat-error> Title is required </mat-error>
            } @if ( updateForm.get('title')?.hasError('minlength') && updateForm.get('title')?.touched) {
            <mat-error> Minimum 3 characters required </mat-error>
            }
        </mat-form-field>

        <button matButton="filled" type="submit" [disabled]="updateForm.invalid">
      Update
    </button>
    </form>
</div>
}
