@let todos = todos$ | async;
<div class="todo-list">
    <div class="todo-list__container">
        <form class="todo-list__form" [formGroup]="todoForm" (ngSubmit)="addTodo()">
            <mat-form-field class="todo-list__input" appearance="outline">
                <mat-label>Add a new Todo</mat-label>
                <input matInput formControlName="title" /> @if (todoForm.get('title')?.hasError('required') && todoForm.get('title')?.touched) {
                <mat-error> Title is required </mat-error>
                } @if (todoForm.get('title')?.hasError('minlength') && todoForm.get('title')?.touched) {
                <mat-error> Minimum 3 characters required </mat-error>
                }
            </mat-form-field>

            <button matButton="filled" type="submit" [disabled]="todoForm.invalid">
        Add
      </button>
        </form>
    </div>
    @if (todos?.length) { @for (todo of todos; track todo._id) {
    <app-todo-card class="todo-list__card" [todo]="todo"></app-todo-card>
    } } @else {
    <div class="todo-list__empty">Add Todos to see todo list</div>
    }
</div>
