:host {
  display: flex;
  justify-content: center;
  flex: 1;
}

.todo-list {
  margin-top: 12px;
  padding: 8px 16px;
  flex-direction: column;
  gap: 12px;
  display: flex;
  width: min(600px, 100%);

  &__container {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__card {
    display: flex;
  }

  &__form {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__input {
    flex: 1;
  }

  &__empty {
    flex: 1;
    text-align: center;
    align-content: center;
    line-height: 40px;
    font-size: 30px;
    font-weight: 500;
  }
}
